@{
    ViewData["Title"] = "Meu Perfil";
}

<div class="container py-5">

    <div class="card bg-dark text-white p-4 rounded-4">

        <h2 class="fw-bold mb-4">Meu Perfil</h2>

        <p><strong>Nome:</strong> @ViewBag.Name</p>
        <p><strong>Email:</strong> @ViewBag.Email</p>

        <a asp-action="ChangePassword" class="btn btn-outline-info mt-3">
            Segurança
        </a>

    </div>

</div>